/* add the color   */
:root {
    --background-color: #faf7f2;
    --sur-face: #fff;
    --pri-mary: #8b5e3c;
    --secondary: #c89f7a;
    --accent: #d6b38a;
    --text: #2d2a26;
    --text-secondary: #6b6b6b;
    --border: #e8e3dc;
    --hover: #6f472c;
    --black: #000;
}
/* bgc  */
body {
    animation: pageload 1s ease forwards;
}
/* animation  */
@keyframes pageload {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
/* ===========================
   Header Navigation
=========================== */
.header-menu nav {
    box-shadow: 0 0 5px 0 var(--secondary);
}
/* Navigation Items */
.header-menu nav li {
    position: relative;
}
/* Navigation Underline Effect */
nav li::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: var(--pri-mary);
    transition: all .3s ease-in-out;
}
nav li:hover::after {
    width: 100%;
}
/* Main Description */
.main-content p {
    margin: 3% 0 6% 0;
}
/* Button Hover Effect */
.main-content button:hover {
    cursor: pointer;
    transform: translateY(-10px);
    transform: scale(1.08);
}
/* main content  */
.main-content{
    flex-basis: 50%;
}
/* ===========================
   Main Image
=========================== */
.main-image {
    flex-basis: 50%;
}
/* Main Image Style */
.main-image img {
    width: 80%;
}
/* ===========================
   Feature Cards 
=========================== */
/* Single Card */
.cards .card {
    padding: 30px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* Card Icon */
.cards .card img {
    width: 64px;
    height: 64px;
}
