/* add the color   */
:root {
    --background-color: #faf7f2;
    --sur-face: #fff;
    --pri-mary: #8b5e3c;
    --secondary: #c89f7a;
    --accent: #d6b38a;
    --text: #2d2a26;
    --text-secondary: #6b6b6b;
    --border: #e8e3dc;
    --hover: #6f472c;
    --black: #000;
}
/* scroll behavior */
html{
    scroll-behavior: smooth;
}
/* bgc  */
body {
    animation: pageload 1s ease forwards;
}
/* animation  */
@keyframes pageload{
    from{
        opacity: 0;
    }
    to{
        opacity:1;
    }
}
/* ===========================
   Header
=========================== */
header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
/* ===========================
   Header Navigation
=========================== */
.header-menu nav {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    border-radius: 10px;
    box-shadow: 0 0 5px 0 var(--secondary);
}
/* Navigation Items */
.header-menu nav li {
    padding: 8px;
    margin: 0 25px;
    position: relative;
}
/* Navigation Underline Effect */
nav li::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: var(--hover);
    transition: all .3s ease-in-out;
}
nav li:hover::after {
    width: 100%;
}

/* ========================== 
         navbar 
 ========================== */
.nav-menu{
    display: flex;
    list-style: none;
    margin-top: 20px;
    gap: 25px;
    padding: 50px;
}
.nav-menu li{
    padding: 5px;
    box-shadow: 0 0 5px 0 var(--secondary);
    border-radius: 5px;
}
li{
    transition: all .8s;
}
li:hover{
    transform: scale(1.05);
}
/*===========================
           Drink kards
===========================*/
.cards{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    padding: 30px;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border: var(--border) solid 1px;
    box-shadow: 0 0 5px 0 var(--secondary);
    border-radius: 5px;
    transition: all 1s;
}
.card:hover{
    transform: scale(1.09);
    box-shadow: var(--accent) 0 0 5px;
}
.img-cards{
    width:200px;
    height:60px;
    flex: 100%;
    border-radius: 5px;
    object-fit: cover;
}
.font-size{
    font-size: 17px;
}
.spaese{
    margin: 30px 0 0 30px;
    color: var(--text-secondary);
}
