/* add the color   */
:root {
    --background-color: #faf7f2;
    --sur-face: #fff;
    --pri-mary: #8b5e3c;
    --secondary: #c89f7a;
    --accent: #d6b38a;
    --text: #2d2a26;
    --text-secondary: #6b6b6b;
    --border: #e8e3dc;
    --hover: #6f472c;
    --black: #000;
}
/* scroll behavior */
html{
    scroll-behavior: smooth;
}
/* bgc  */
body {
    animation: pageload 1s ease forwards;
}
/* animation  */
@keyframes pageload{
    from{
        opacity: 0;
    }
    to{
        opacity:1;
    }
}
/* ===========================
   Header Navigation
=========================== */
.header-menu nav {
    box-shadow: 0 0 5px 0 var(--secondary);
}
/* Navigation Items */
.header-menu nav li {
    position: relative;
}
/* Navigation Underline Effect */
nav li::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: var(--hover);
    transition: all .3s ease-in-out;
}
nav li:hover::after {
    width: 100%;
}

/* ========================== 
         navbar 
 ========================== */
.nav-menu li{
    box-shadow: 0 0 5px 0 var(--secondary);
}
li{
    transition: all .8s;
}
li:hover{
    transform: scale(1.05);
}
/*===========================
           Drink kards
===========================*/
.card{
    width: 200px;
    height: 200px;
    border: var(--border) solid 1px;
    box-shadow: 0 0 5px 0 var(--secondary);
    transition: all 1s;
}
.card:hover{
    transform: scale(1.09);
    box-shadow: var(--accent) 0 0 5px;
}
.img-cards{
    width:200px;
    height:60px;
    flex: 100%;
    border-radius: 5px;
    object-fit: cover;
}

